@use "variables" as *;

@mixin saira-header-dark {
  font-family: "Saira", sans-serif;
  font-weight: 700;
  color: $text-color-dark;
}

@mixin saira-header-light {
  font-family: "Saira", sans-serif;
  font-weight: 700;
  color: $text-color-light;
}

@mixin saira-text-dark {
  font-family: "Saira", sans-serif;
  font-weight: 400;
  color: $text-color-dark;
}

@mixin saira-text-light {
  font-family: "Saira", sans-serif;
  font-weight: 400;
  color: $text-color-light;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between($align: center) {
  display: flex;
  justify-content: space-between;
  align-items: $align;
}
