@use "../utils/variables";
@use "../utils/mixins";

.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }

  &__logo img {
    max-width: 50px;
    height: auto;
    justify-content: center;
    align-content: center;
    display: flex;
  }

  &__nav {
    &-list {
      display: flex;
      list-style: none;
      gap: 1.2rem;
    }
    &-item {
      @include mixins.saira-text-dark;
    }
  }

  a:hover {
    color: variables.$primary-color;
    font-weight: bold;
  }

  // Responsive styles
  @media (max-width: 760px) {
    &__nav-list {
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
    }
  }
}

a:link {
  color: variables.$text-color-dark;
  text-decoration: none;
}
