@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.bio {
  padding: 2rem;
  background-color: $background-color-dark;
  border-radius: 6px;

  &__inner {
    @include flex-center;
    flex-direction: column; //mobile: stacked
    align-items: center;
    gap: 1rem;
    text-align: center;

    @media (min-width: 760px) {
      flex-direction: row; //desktop: side by side
      justify-content: center;
      align-items: center;
      gap: 4rem;
    }
  }

  &__pic {
    max-width: 300px;
    width: 100%;

    img {
      width: 100%;
      border-radius: 50%;
      box-shadow: 0 4px 8px #0000001a;
    }
  }

  &__intro {
    max-width: 500px;
    padding: 0 1rem;

    @media (min-width: 760px) {
      width: 400px;
      height: 300px;
      @include flex-center;
      flex-direction: column;
      text-align: center;
    }
  }

  &__title {
    @include saira-header-light;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__description {
    @include saira-text-light;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;

    @media (min-width: 760px) {
      margin-top: 1.2rem;
    }
  }

  // Buttons
  .btn {
    &--primary {
      @include btn-primary;
    }

    &--secondary {
      @include btn-secondary;
    }
  }
}
